@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Smooch&display=swap');

// vars

// styles

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}

.single_link {
    padding: 1px 3px;
    background-color: #db2763;
    transition: color .3s linear;

    &:hover {
        color: white;
    }
}

.indent-20 {
    text-indent: 20px;
}

.important-text {
    color: white;
    background-color: #db2763;
    padding: 1px 3px;

    transition: color .3s linear;

    &-less {
        color: white;
        background-color: coral;
        padding: 1px 3px;
    }

    &:hover {
        color: black;
    }
}

.colorCard {
    width: 120px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
        font-weight: 900;
    }
}

.colorCard_container {
    display: flex;
    gap: 5px;
}


body {
    background-color: #9db4c0;
}

.main_layout {
    position: relative;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-color: #253237;
}

.header_wrapper {
    width: 100%;
    height: 100px;
    box-shadow: 0 0 10px black;
    background-color: #253237;
}

.header_cont {
    list-style: none;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;



    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;

        outline: 1px solid transparent;
        outline-offset: 5px;
        transition: outline .3s linear, color .3s linear, background-color .3s linear;
        cursor: pointer;

        color: #db2763;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;

        &_select {
            color: white;
            background-color: #db2763;
        }

        &:hover {
            outline-offset: 5px;
            outline: 1px solid #db2763;
        }
        &:active {
            color: white;
            background-color: #db2763;
        }

    }
}

// info button

.info_button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    top: 150px;
    right: -100px;

    cursor: pointer;

    font-weight: 900;
    font-size: 50px;
    color: #db2763;
    background-color: #253237;

    transition: color .3s linear, background-color .3s linear;
    user-select: none;

    z-index: 100;

    &:hover {
        color: white;
        background-color: #db2763;
    }
}
.info_button-active {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    top: 150px;
    right: -100px;

    cursor: pointer;

    font-weight: 900;
    font-size: 50px;
    color: white;
    background-color: #db2763;
    user-select: none;

    transition: color .3s linear, background-color .3s linear;

    z-index: 100;

}
.info_container {
    position: absolute;
    width: 700px;
    height: 500px;
    background-color: #fdfffc;
    padding: 20px;

    top: 150px;
    right: -25px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;

    z-index: 1000;

}
// for Routes

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

    outline: 1px solid transparent;
    outline-offset: 5px;
    transition: outline .3s linear, color .3s linear, background-color .3s linear;
    cursor: pointer;

    background-color: #db2763;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

// content

.content_container {
    width: 100%;
    height: 800px;
    background-color: #fdfffc;
    margin: 10px 0;
    box-shadow: 0 5px 10px black;
    border-radius: 15px;
    overflow: hidden;
}

// home

.home_container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    overflow: hidden;
    z-index: 5;

    &-text {
        margin: 10px 20px;
    }

    &-greetings {
        display: flex;
        justify-content: center;
        align-items: center;

        user-select: none;
        opacity: .4;

        &-curvie {
            margin: 0 10px;
            font-size: 65px;
            font-family: 'Smooch', cursive;
        }
    }

    &-list {
        border-left: 5px solid #db2763;
        list-style: none;
        padding-left: 10px;

        & > li {
            margin: 5px 0;
        }
    }

    &-addinfo {
        border-left: 5px solid coral;
        list-style: none;
        padding-left: 10px;

        & > li {
            margin: 5px 0;
        }
    }
}
.home-footer-img {
    position: absolute;
    top: 70%;
    left: -50px;
    opacity: .2;
    z-index: -1;
}

// tech

.tech_contaiter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.tech_description {
    padding: 30px 20px;
    height: 72%;

    & > p {
        margin-left: 20px;
        line-height: 30px;
    }

    &_title {
      padding-left: 10px;
      border-left: 3px solid #db2763;
      font-weight: 500;
    }

    &_important {
        color: white;
        background-color: #db2763;
        padding: 1px 3px;
    }

    &_link {
        text-decoration: none;
        color: white;
        background-color: #db2763;
        padding: 1px 3px;
        transition: color .3s linear;

        &:hover {
            color: black;
        }
    }
}
.tech_legend {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 400px;
    padding: 5px 15px;
    margin: 0 auto;

    background-color: #253237;
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    &_applied {
        padding: 5px 10px;
        border-radius: 7px;
        background-color: #db2763;
    }

    &_instack {
        padding: 5px 10px;
        border-radius: 7px;
        outline: 1px solid yellow;
    }

    &_notused {
        padding: 5px 10px;
        border-radius: 7px;
        outline: 1px solid #db2763;
    }
}
.tech_used_container {
    width: 100%;
    height: 28%;
    background-color: #253237;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.tech_used_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    min-width: 40px;
    max-width: 200px;
    height: 40px;
    border-radius: 7px;

    outline: 1px solid #db2763;

    font-size: 20px;
    font-weight: 600;
    color: white;

    transition: all .3s linear;

    &-active {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        min-width: 40px;
        max-width: 200px;
        height: 40px;
        border-radius: 7px;

        outline: none;
        background-color: #db2763;

        font-size: 20px;
        font-weight: 600;
        color: white;

        transition: all .3s linear;
    }

    &-notUsed {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        min-width: 40px;
        max-width: 200px;
        height: 40px;
        border-radius: 7px;

        outline: 1px solid yellow;

        font-size: 20px;
        font-weight: 600;
        color: white;

        transition: all .3s linear;
    }
}


// faq

.faq_container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 20px;

    &_title {
        text-align: center;
    }

    &_books {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        width: 100%;
        margin: 10px 0;
        padding: 20px;
        overflow: hidden;

        border: 1px solid black;

        &-label {
            width: 100%;
            position: absolute;
            font-weight: 900;
            opacity: 0.5;
            font-size: 40px;
            margin: 0;
            top: -18px;
            user-select: none;
            z-index: 0;
        }

        &_input {
            width: 300px;
            height: 37px;
            padding: 5px 10px;
            z-index: 1;
            background-color: #fdfffc;

            border: 1px solid #CACACA;

            &:focus {
                outline: none;
                border: 1px solid #db2763;
                background-color: white;
            }
        }

        &_fileadd {
            padding: 5px 10px;
            border: 1px solid #CACACA;
            cursor: pointer;

            &::file-selector-button {
                border: 1px solid #CACACA;
                background-color: transparent;
                padding: 4px;
            }
        }

        &_button {
            width: 95%;
            height: 37px;
            margin: 5px 0;
            padding: 10px 20px;
            cursor: pointer;

            border-radius: 10px;
            border: 1px solid #db2763;
            background-color: #fdfffc;
            transition: color .3s linear, background-color .3s linear;

            font-weight: 900;

            &:hover {
                color: white;
                background-color: #db2763;
            }
        }
    }
}

.books_container {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
}

.book_element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 320px;
    background-size: contain;

    border-radius: 10px;
    box-shadow: 0 0 10px black;

    &_info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 20%;
        background-color: #fdfffc;
        font-size: 14px;
        z-index: 10;

        & > p {
            margin: 0;
            text-align: center;
        }
    }

    &_like_button {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
        background-color: white;
        font-weight: 900;
        cursor: pointer;
        z-index: 10;

        border-radius: 5px;
        transition: background-color .3s linear;

        &:hover {
            background-color: #db2763;
        }
    }

    &_delete_button {
        position: absolute;
        padding: 5px;
        bottom: 10px;
        left: 10px;
        border: none;
        background-color: white;
        font-weight: 900;
        cursor: pointer;
        z-index: 10;

        border-radius: 5px;
        transition: background-color .3s linear;

        &:hover {
            background-color: #db2763;
        }
    }

    &_like_button-liked {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
        font-weight: 900;
        cursor: pointer;
        color: #db2763;
        background-color: white;
        z-index: 10;

        border-radius: 5px;
        transition: background-color .3s linear;

        &:hover {
            background-color: white;
        }
    }

    & > img {
        position: absolute;
    }
}

// contacts

.contacts_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-card {
        display: flex;
        justify-content: space-between;
        width: 600px;
        height: 300px;
        padding: 20px;
        border-radius: 15px;
        background-color: #253237;

        box-shadow: 0 5px 10px black;

        &-text {
            width: 70%;


        }
        &-logo {
            width: 35%;
            padding-left: 20px;
            border-left: 2px solid #db2763;
        }
    }
}
$gradients: () !default;
$gradients: map-merge((
        hot: linear-gradient(135deg, #FFEE88 0%,#db2763 100%),
), $gradients);
@mixin text-gradient($parent, $gradient) {
    #{$parent} {
        background-image: $gradient;
        color:transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}
@each $gradient, $value in $gradients {
    @include text-gradient(".text-gradient-#{$gradient}", $value);
}